/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */

  
#maindiv{
background-color:#1c061d;
height: 100vh;
display: inline-block;
padding: 12px;

}
.section{
    display: flex;
    justify-content:;
}






